.calc-container {
    margin: auto;
    background-color: #D3D3D3;
    width: 600px;
    height: 800px;
}

.display {
    margin: 10px;
    width: 570px;
    height: 75px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
    width: 470px;
    margin-left: 60px;
    margin-top: 60px;
}
.button {
    display: flex;
    height: 100px;
    width: 100px;    
    border: 1px solid black;
  }